// Place all the styles related to the atuendos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.form-inline
{
  flex-flow: row wrap;
  align-items: end;
  justify-items: end;
  margin-left: 60vw;
}

.btn
{
  margin-left: 0.5vw;
}

.MiG-container h5, .indexcontainer1 h5
{
  color: #666666;
  margin-left: 2vw;
  margin-top: 2vw;
}
.MiG-container h4, .indexcontainer h4
{
  color: #2E2F30;
  margin-left: 1vw;
  margin-top: 1vw;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}



.list-atuendos li:link
{
  color: #2E2F30;
}
