// Place all the styles related to the guardarropas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.containerw{
  width: 100px;
  background-color: #FFF;

  display: block;
  margin: 0 auto;

  border-radius: 10px;
  padding-bottom : 50px;
}

.app-title{
  width: 100px;
  height: 35px;
  border-radius: 1px 1px 0 0;
  background-color: #F4F9FF;
}

.app-title p{
  text-align: center;
  padding: 5px;
  margin: 0 auto;
  font-size: 1.2em;
  color: #293251;
}



.weather-container{
  width: 100px;
  height: 140px;
  background-color: #F4F9FF;
}

.weather-icon{
  width: 100px;
  height: 68px;
}

.weather-icon img{
  display: block;
  margin: 0 auto;
}

.temperature-value{
  width: 100px;
  height:10px;
}

.temperature-value p{
  padding: 0;
  margin: 0;
  color: #293251;
  font-size: 2em;
  text-align: center;
  cursor: pointer;
}

.temperature-value p:hover{

}

.temperature-value span{
  color: #293251;
  font-size: 0.5em;
}

.temperature-description{

}

.temperature-description p{
  padding: 3px;
  margin: 0;
  color: #293251;
  text-align: center;
  font-size: 1.2em;
}

.location{

}

.location p{
  margin: 0;
  padding: 0;
  color: #293251;
  text-align: center;
  font-size: 0.8em;
}
