// Place all the styles related to the prendas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.content
{
  text-decoration-color: #2E2F30;
}

.form-panel
{
  padding: 5%;
  margin-top: 1px;
}



.btn
{
  display: block;
  text-align: end;
}
.panel h2
{
  padding-bottom: 1%;
}

.panel
{
  margin-left: 5%;
  margin-right: 5%;
}

.panel h5
{
  padding-top: 2%;
}
