// Place all the styles related to the prendas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.content
{
  text-decoration-color: #2E2F30;
}

.form-panel
{
  padding: 5%;
  margin-top: 1px;
}
